/* DEFAULTS
----------------------------------------------------------*/

body   
{
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    background-color: #010E77;
}

div.clear_both
{
    clear: both;
}

/************ CSS CARNET ***********/

div.carnet_div {
    color: #FFFFFF;
    font-family: BlairMdITC TT;
    font-size: 8px;
    height: 100%;
    line-height: 9px;
    position: relative;
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;
}
div.div_foto {
    background-color: transparent;
    position: absolute;
    right: 209px;
    top: 11px;
}
div.carnet_campos
{
    font-size: 9px;
    position: absolute;
    top: 75px;
    right: 8px;
    width: 192px;
}

span.div_nombre {
    float: left;
    width: 133px;
}

div.cont_campo {
    color: #FFFFFF;
    float: left;
    margin-bottom: 10px;
}

span.div_cedula {
    width: 102px;
}

span.div_centro {
    color: #FFFFFF;
    font-size: 8px;
    width: 130px;
}

div.cont_centro {
    float: left;
    margin-bottom: 5px;
}

span.div_carrera {
    color: #FFFFFF;
    font-size: 7px;
    width: 137px;
}

span.div_nivel {
    color: #FFFFFF;
    font-size: 8px;
    width: 167px;
}

div.cod_barras {
 background-color: white;
    color: black;
    font-family: C39HrP24DhTt;
    font-size: 40px;
    height: 23px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
    right: 55px;
    top: 151px;
}

div.front_logo
{
   position: absolute;
   top: 7px;
   left: 143px;        
}

div.front_texto
{
   color: White;
   font-size: 10px;
   font-family: BlairMdITC TT;
   position: absolute;
   top: 193px;
   left: 36px; 
}

/** CSS REVERSO **/

div.div_reverso
{
    position:relative; 
    width: 340px;  
}

div.texto_sede
{
    position: absolute;
    top: 18px;
    right: 145px;
    color: White;
    font-size: 10px;
    width: 183px;
}

div.logo_div
{
    position: absolute;
    top: 15px;
    right: 20px;   
    border: 0;
}

div.texto_aviso
{
    position: absolute;
    width: 290px;
    top: 180px;
    right: 28px;
    color: White;
    font-size: 10px;
    text-align: center;
}

div.text_univ
{
    position: absolute;
    top: 120px;
    left: -7px;
    color: White;
    font-family: BlairMdITC TT;
    font-size: 15px;
    width: 356px;
    text-align: center;
}

