USE [Matricula]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_datos_contratos]    Script Date: 24/08/2018 11:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SEK
-- Create date: 21082018
-- Description:	Extrae datos de la tabla de contratos, y les agrega campos de la bd
--				de matrícula.
-- =============================================
ALTER PROCEDURE [dbo].[sp_get_datos_contratos](@condicion int) 	
AS
BEGIN
	SET NOCOUNT ON;
	--[sp_get_datos_contratos] 2
    -- ========== CREA TABLA PARA CONTENER LOS DATOS NECESARIOS A MOSTRAR ===========

create table #datos_contratos(
rut varchar(max),
nombre varchar(max),
mail varchar(max),
fonoact varchar(max),
comuna varchar(max),
region varchar(max),
sexo varchar(max),
facultad varchar(max),
carrera varchar(max),
cohorte varchar(max),
jornada varchar(max),
estado varchar(max),
coordinador varchar(max),
link varchar(max),
accion_observacion varchar(max)
);


-- ==================================

--select * from SEK_REGISTRO_POSTULACION_ONLINE

-- ============ INSERTA DATOS A LA TABLA DE CONTRATOS ==============
insert into #datos_contratos
select (b.codcli + '-' + b.dig) as rut, (b.nombre + ' ' + b.paterno + ' ' + b.materno) as nombre, b.mail, b.fonoact, b.comuna, e.descripcion as region, c.descripcion as sexo, '' as facultad, '' as carrera, '' as cohorte, '' as jornada, '' as estado, '' as coordinador, a.rutaArchivo, a.observacion
from SEK_REGISTRO_POSTULACION_ONLINE a
inner join mt_client b on b.codcli = (SUBSTRING (a.RutAlumno, 1, Len(a.RutAlumno) - 2 ))
inner join mt_sexo c on b.sexo = c.codigo
left join mt_comuna d on b.ciudadact = d.codcom
inner join mt_region e on e.codregion = d.codregion
-- =======================================================

-- =============== CREA UNA TABLA PARA TRAER RUT UNICOS DE LA MT_ALUMNO ==========
create table #distinct_rut_mt_alumno(
rut varchar(max),
codcarpr varchar(max),
ano varchar(255),
jornada varchar(255),
estacad varchar(255),
facultad varchar(max),
carrera varchar(max)
);
-- =========================================


-- =============== INSERTA DATOS EN LA TABLA PARA TRAER RUT UNICOS DE LA MT_ALUMNO ==========
insert into #distinct_rut_mt_alumno select distinct rut, '' as codcarpr, '' as ano, '' as jornada, '' as estacad, '' as facultad, '' as carrera from mt_alumno 
-- =================================

-- ========= INSERTA DATOS PARA LOS RUTS UNICOS ========== 
update #distinct_rut_mt_alumno
set codcarpr = b.codcarpr,
ano = b.ano,
jornada = b.jornada,
estacad = b.estacad
from #distinct_rut_mt_alumno a 
inner join mt_alumno b 
on a.rut = b.rut
-- ==========================

-- ========== INSERTA DATOS FALTANTES DE LOS RUTS UNICOS =============
update #distinct_rut_mt_alumno 
set facultad = c.descripcion,
carrera = b.nombre_c
from #distinct_rut_mt_alumno a
inner join mt_carrer b 
on a.codcarpr = b.codcarr
inner join ra_facultad c 
on b.codfac = c.codfac
-- =====================

--select * from #distinct_rut_mt_alumno

-- ================= ACTUALIZA LOS DATOS FALTANTES EN LA TABLA DE DATOS CONTRATOS ============
update #datos_contratos 
set facultad = b.facultad,
carrera = b.carrera,
cohorte = b.ano,
jornada = b.jornada,
estado = b.estacad
from #datos_contratos a
inner join #distinct_rut_mt_alumno b
on b.rut = (SUBSTRING (a.rut, 1, Len(a.rut) - 2 ))
-- ==============================



-- ********************************
create table #tabla_filtros(
id int identity(1,1),
value varchar(max),
name varchar(max)
)



declare @tot_registros int = 0
declare @contador int = 1
declare @html varchar(max)


-- ********************************

IF @condicion = 1
BEGIN
	select * from #datos_contratos
END

IF @condicion = 2
BEGIN
--[sp_get_datos_contratos] 2
insert into #tabla_filtros 
	select 
	distinct facultad as value, 
	facultad as name 
	from #datos_contratos
	order by facultad

set @tot_registros = (select count(*) from #tabla_filtros)

set @html = '<select id="select_1"> <option value="0">Seleccione filtro</option>'

	while(@tot_registros >= @contador)
	begin
		set @html = @html + '<option value="'+ (select value from #tabla_filtros where id = @contador) +'">' + (select name from #tabla_filtros where id = @contador) + '</option>'

		set @contador = @contador + 1
	end
	
	set @html = @html + '</select><select id="select_2"><option value="0">Seleccione</option>'

	truncate table #tabla_filtros
	set @tot_registros = 0
	set @contador = 1

	
insert into #tabla_filtros
	select 
	distinct carrera as value, 
	carrera as name 
	from #datos_contratos
	order by carrera

	set @tot_registros = (select count(*) from #tabla_filtros)
	

	while(@tot_registros >= @contador)
	begin
		set @html = @html + '<option value="'+ (select value from #tabla_filtros where id = @contador) +'">' + (select name from #tabla_filtros where id = @contador) + '</option>'

		set @contador = @contador + 1
	end
	
	set @html = @html + '</select><select id="select_3"><option value="0">Seleccione</option>'

	truncate table #tabla_filtros
	set @tot_registros = 0
	set @contador = 1
	
insert into #tabla_filtros
	select 
	distinct cohorte as value, 
	cohorte as name 
	from #datos_contratos
	order by cohorte

	set @tot_registros = (select count(*) from #tabla_filtros)	

	while(@tot_registros >= @contador)
	begin
		set @html = @html + '<option value="'+ (select value from #tabla_filtros where id = @contador) +'">' + (select name from #tabla_filtros where id = @contador) + '</option>'

		set @contador = @contador + 1
	end
	
	set @html = @html + '</select><select id="select_4"><option value="0">Seleccione</option>'

	truncate table #tabla_filtros
	set @tot_registros = 0
	set @contador = 1

insert into #tabla_filtros
	select 
	distinct a.jornada as value, 
	b.descripcion as name 
	from #datos_contratos a
	inner join ra_jornada b 
	on a.jornada = b.jornada
	order by b.descripcion

	set @tot_registros = (select count(*) from #tabla_filtros)
	

	while(@tot_registros >= @contador)
	begin
		set @html = @html + '<option value="'+ (select value from #tabla_filtros where id = @contador) +'">' + (select name from #tabla_filtros where id = @contador) + '</option>'

		set @contador = @contador + 1
	end
	
	set @html = @html + '</select><select id="select_5"><option value="0">Seleccione</option>'

	truncate table #tabla_filtros
	set @tot_registros = 0
	set @contador = 1

insert into #tabla_filtros
	select 
	distinct estado as value, 
	estado as name 
	from #datos_contratos
	order by estado

	set @tot_registros = (select count(*) from #tabla_filtros)
	

	while(@tot_registros >= @contador)
	begin
		set @html = @html + '<option value="'+ (select value from #tabla_filtros where id = @contador) +'">' + (select name from #tabla_filtros where id = @contador) + '</option>'

		set @contador = @contador + 1
	end
	
	set @html = @html + '</select>'

	truncate table #tabla_filtros
	set @tot_registros = 0
	set @contador = 1

	select @html as 'html'
END


END
