

html {
	height: 100%;
}

body {
	background-color: inherit; /* background color */
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: 12px; /* font size */
	margin: 0; /* top right bottom left */
	height: 100%;
}

.aspreportmaker {
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

input, textarea, select {	
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
} 

a:active {

}

a:link {

}

a:visited {

}

/* Menu */
ul.ewMenuBarVertical {
	list-style-type: none;
	list-style-position: outside;
	padding: 2px;
	margin: 0 0 0 6px;
}

ul.ewMenuBarVertical ul,li {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
	margin: 0 0 0 6px;
	white-space: nowrap;
}

/* template layout */
.ewLayout {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	width: 100%;
	height: 100%;
}

.ewHeaderRow {
	background-color: #FF6600; /* background color */	
}

.ewContentTable {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
	/*width: 100%;
	height: 100%;	*/
}

.ewMenuColumn {
	background-color: #F1F1F1; /* background color */
	width: 180px;
	vertical-align: top;
	padding: 1px;	
}

.ewContentColumn {
	background-color: inherit; /* background color */
	vertical-align: top;
	padding: 10px;
}

.ewFooterRow {
	background-color: #FF6600; /* background color */
	padding: 4px;
}

.ewFooterText {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

.ewForm {
	margin: 0;
	padding: 0;
}

.ewGrid {
	border-collapse: separate;
}

.ewGridContent {
	padding: 0;	
	border: 1px solid #4F93E3; /* grid border */			
}

/* grid pager panel */
.ewGridUpperPanel, .ewGridLowerPanel {
	padding: 3px;	
	border-left: 0;
	border-right: 0;	
	background-color: inherit; /* grid header color */
	color: inherit;	 /* grid header font color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.ewGridUpperPanel {
	border-top: 0px;
	border-bottom: 1px solid;
	border-color: #4F93E3; 
}

.ewGridMiddlePanel {
	border: 0;	
}

.ewGridLowerPanel {
	border-top: 1px solid;
	border-bottom: 0px; 
	border-color: #BFD3EE; 
}

.ewGridUpperPanel td, .ewGridLowerPanel td {
	color: inherit;	 /* grid header font color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.ewPager td {
	white-space: nowrap;	
}

.ewTabContent {
	padding: 0;
	border: 0;
}

.ewMultiColumnTable {
	border: 0;
}

.ewMultiColumnTable td {
	padding: 10px;
}

/* main table */
.ewTable {
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	empty-cells: show;
	width: 100%;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.ewTableSeparate {	
	border-collapse: separate;		
}

.ewTable td {
	padding: 3px; /* cell padding */
	border-bottom: 1px solid; /* border width, horizontal grid line */
	border-top: 0px;
	border-left: 0px;
	border-right: 1px solid; /* border width, vertical grid line */
	border-color: #BFD3EE;  /* border color */
}

.ewTableAddOpt {
	border: 0;
	border-spacing: 0;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */			
}

.ewTableAddOpt td {
	padding: 3px; /* cell padding */
	border: 0;
}
	
.ewTable .ewTableHeader, .ewTable .ewTableHeader td {
	background-color: #2647A0;	/* header bgcolor */
	color: #FFFFFF; /* header font color */
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */
	border-color: #4F93E3; /* header border color */	
	background-image: url(../rptimages/blue.png); /* header bg image */
	background-repeat: repeat-x;		
	vertical-align: top; 	
}

.ewPointer {
	cursor: pointer;
}

.ewTableHeader a:link, .ewTableHeader a:active, .ewTableHeader a:visited {	
	color: #FFFFFF; /* header font color */
	text-decoration: none;	
}

.ewTableHeaderBtn {
	width: 100%;
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */				
}

.ewTableHeader .ewTableHeaderBtn td {
	background: transparent;
	padding: 0;
	border: 0;
	white-space: nowrap;		
}

/* main table row color */
.ewTableRow {
	background-color: #FFFFFF;  /* alt row color 1 */
	color: inherit;
}

/* main table alternate row color */
.ewTableAltRow {
	background-color: #EDF5FF; /* alt row color 2 */
	color: inherit;	
}

/* main table last row */
.ewTableLastRow td {
	border-bottom: 0px;
}

/* main table footer */
.ewTableFooter {
	background-color: #D4E7FD; /* footer color */
	color: inherit;
}

/* table for export to HTML */
.ewExportTable {
    border-collapse: collapse;
    empty-cells: show; 
}

.ewExportTable td {
    padding: 3px; /* cell padding */
    border: 1px solid #C0C0C0;
}

.ewItemTable td {
	color: inherit; /* text color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	border: 0px;
	padding: 2px;
	vertical-align: top; 
}

/* separator */
.ewSeparator {
    color: gray;
}

/* message */
.ewMessage {
	color: red; /* message color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

/* required field indicator */
.ewRequired {
	color: red; /* message color */
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */	
}

/* highlight */
.ewHighlightSearch {
	font-weight: bold;
	background-color: yellow;
}

/* template */
.ewTemplate {
	display: none;
}

/* popup filter */

.ewPopup {
	position: absolute;
	width: 200px; 
	display: block; 
	visibility: hidden; 
	border: 1px solid #333333;
	background-color: #EAEAEA;
}

.ewPopupSizeGrip {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 9px;
	height: 9px;
	cursor: se-resize;
}

.ewPopupHorizRule {
	border: 0;
	color: #9E9E9E;
	background-color: #9E9E9E;
	height: 1px;
	width: 100%;
	text-align: left;
}

/* classes for report */

/* exteneded filter */
.ewRptSearch {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	border: 0px;
	border-collapse: collapse;
}

.ewRptSearch td {
	border: 0px;
	padding: 2px;
}

.ewRptSearchOpr {
	font-family: Verdana; /* font name */
	font-size: xx-small; /* font size */
	color: maroon;
}

.ewInputCleared {
	background-color: #FFFFCC; /* background color */
}

/* group 1 */
.ewTable .ewRptGrpHeader1 {
	color: inherit;
	background-color: inherit;
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */	
	font-weight: bold;		
}

.ewRptGrpHeader1 a:link, .ewRptGrpHeader1 a:active, .ewRptGrpHeader1 a:visited {
	color: inherit;
	text-decoration: none;
}

.ewRptGrpField1 {
	background-color: inherit;	
}

.ewRptGrpSummary1 {
	color: #2647A0;
	background-color: #F0F8FF;	
}

/* group 2 */
.ewTable .ewRptGrpHeader2 {
	color: inherit;
	background-color: inherit;
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */	
	font-weight: bold;
}

.ewRptGrpHeader2 a:link, .ewRptGrpHeader2 a:active, .ewRptGrpHeader2 a:visited {
	color: inherit;
	text-decoration: none;
}

.ewRptGrpField2 {
	background-color: inherit;
}

.ewRptGrpSummary2 {
	color: inherit;
	background-color: inherit;	
} 

/* group 3 */
.ewTable .ewRptGrpHeader3 {
	color: inherit;
	background-color: inherit;
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */	
	font-weight: bold;	
}

.ewRptGrpHeader3 a:link, .ewRptGrpHeader3 a:active, .ewRptGrpHeader3 a:visited {
	color: inherit;
	text-decoration: none;
}

.ewRptGrpField3 {
	background-color: inherit;
}

.ewRptGrpSummary3 {
	color: #2647A0;
	background-color: #F0F8FF;	
}

/* group 4 */
.ewTable .ewRptGrpHeader4 {
	color: inherit;
	background-color: inherit;
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */	
	font-weight: bold;	
}

.ewRptGrpHeader4 a:link, .ewRptGrpHeader4 a:active, .ewRptGrpHeader4 a:visited {
	color: inherit;
	text-decoration: none;
}

.ewRptGrpField4 {
	background-color: inherit;
}

.ewRptGrpSummary4 {
	color: inherit;
	background-color: inherit;	
}

/* group 5 */
.ewTable .ewRptGrpHeader5 {
	color: inherit;
	background-color: inherit;
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */	
	font-weight: bold;	
}

.ewRptGrpHeader5 a:link, .ewRptGrpHeader5 a:active, .ewRptGrpHeader5 a:visited {
	color: inherit;
	text-decoration: none;
}

.ewRptGrpField5 {
	background-color: inherit;
}

.ewRptGrpSummary5 {
	color: #2647A0;
	background-color: #F0F8FF;	
}

/* group 6 */
.ewTable .ewRptGrpHeader6 {
	color: inherit;
	background-color: inherit;
	border-bottom: 1px solid; /* header border width */
	border-right: 1px solid; /* header border width */	
	font-weight: bold;	
}

.ewRptGrpHeader6 a:link, .ewRptGrpHeader6 a:active, .ewRptGrpHeader6 a:visited {
	color: inherit;
	text-decoration: none;
}

.ewRptGrpField6 {
	background-color: inherit;
}

.ewRptGrpSummary6 {
	color: inherit;
	background-color: inherit;	
}

.ewRptGrpAggregate {
	font-weight: bold;
}

.ewRptPageSummary {
	color: inherit; /* page summary text color */	
	background-color: #99CCFF; /* page total background color */	
}

.ewRptGrandSummary {
	color: inherit; /* grand summary text color */
	background-color: inherit; /* grand summary background color */	
}

/* for crosstab report only */

.ewRptColHeaderRow td {
	border-bottom: 1px solid; /* header border width */
}

.ewRptColHeader {
	color: #FFFFFF; /* column heading text color */
	background-color: #2647A0; /* column heading background color */
	font-weight: bold;
}

/* YUI Button */
.yui-skin-sam .yui-button button, .yui-skin-sam .yui-button a {   
  font-size: xx-small; /* font size */
}

/* YUI Panel */
.yui-skin-sam .yui-panel .hd {    
	font-size: xx-small; /* font size */
	line-height: 2.5;     
}

.ewLangForm {
	text-align: right;
}

/* Estilos Certificado*/

.ewDataTop {
	background: #EBEBE4;
	border:1px solid #ccc;
}
#logo {
	width:210px;
	height:70px;
	margin-left: 10px;
    margin-right: 20px;
}
.titulo {
	padding-bottom: 10px;
    text-align:center; 
    font-size:16px;
    padding-top: 50px;
}
.titulo h3 {
	font-family: "Times New Roman", Times, serif;
	font-size:15px;
	text-align:center;
}
.noborde{
	border:none;
}
#container {
	margin-top: 30px;
    text-align: justify;
    font-size: 12px;
    padding-bottom: 108px;
    margin-bottom:108px;
}

#content-center {
	font-family: "Times New Roman", Times, serif;
	font-size:14px;
	text-align:justify;
	line-height:20px;
}
.buscaAlumno td{
	border:1px solid #ccc;
}
.buscaHead th{
	background: #ccc;
}
.obligatorio{
	color:#F00;
}
table.table { 
	font-family: "Times New Roman", Times, serif;
	width:100%;
    font-size: 9px;
	border-collapse: collapse;
	margin-top:20px;
	margin-bottom:20px;
}
table.footer {
	font-family: "Times New Roman", Times, serif;
    font-size: 7px;
}
table.table th {
	background: #EBEBE4;
}
table.table td, th {
    border: 1px solid #000;
    padding: 0.5em;
}
table.footer td, th {
    border: 1px solid #000;
    padding: 0.5em;
}

table.datosAlumno {
	border-collapse: collapse;	
}
table.datosAlumno td {
	font-family:"Times New Roman", Times, serif;
	border: 1px solid #000;	
	font-size:11px;
}
table.datosAlumno td.datoHead{
	background:#EBEBE4;
	font-size:10px;
}
#footer{
	margin-top: 30px;	
}
#footer .fecha {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size:12px;
	text-align:right;
}
.certif {
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size:12px;
	text-align:center;
}
.informacion
{
    padding-top: 20px;
    font-size: 12px;
}
.firmas
{
    text-align:center;
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    width:800px;
}
.firmas_cambio_Responsable
{
    padding-left:55px;
    width:800px;
    float:left;
}
.firmas_cambio_Responsable .firma, .firmas_cambio_Responsable .firma_rector
{
    margin-left:100px;
}
.firma
{
    float:left;
    width:200px;
    margin-left:50px;
    text-align:center;
    padding-top:72px;
}
.firma_rector
{
    float:left;
    width:200px;
    margin-left:50px;
    text-align:center;
}
#anchoPagina
{
    margin-right:20px;
    margin-left:20px;
    width:700px;
    margin:0 auto;
    height:auto;
}
#logo
{
    position:absolute;

}
/*END_SYSTEM_STYLES*/
