<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="UCHILEConnectionString" connectionString="Data Source=192.168.100.226;Initial Catalog=UCHILE;User ID=sa;Password=Sa070507" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>

</configuration>
